<IfModule mod_autoindex>
  Options -Indexes
</IfModule>
DirectoryIndex /public/section.php?sectionId=1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en
RewriteEngine On
ErrorDocument 404 /public/error-404.php?rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en

#RewriteRule ^rss.xml$ /public/rss.php?rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^sitemap.xml$ /public/sitemap.php?rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^index\.htm$ http://localhost/en/ [L,R=301]

RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany$ http://localhost/en//dostavlyaem-v-lyubuyu-tochku-strany/ [L,R=301]
RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany/$ /public/section.php?%{QUERY_STRING}&sectionId=983&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=983&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=983&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=983&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^dostavlyaem\-v\-lyubuyu\-tochku\-strany/rss\.xml$ /public/rss.php?sectionId=983&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^our\-team$ http://localhost/en/our-team/ [L,R=301]
RewriteRule ^our\-team/$ /public/section.php?%{QUERY_STRING}&sectionId=1003&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^our\-team/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=1003&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^our\-team/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1003&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^our\-team/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1003&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^our\-team/rss\.xml$ /public/rss.php?sectionId=1003&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^realesed\-works$ http://localhost/en/realesed-works/ [L,R=301]
RewriteRule ^realesed\-works/$ /public/section.php?%{QUERY_STRING}&sectionId=1001&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^realesed\-works/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=1001&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^realesed\-works/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1001&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^realesed\-works/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1001&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^realesed\-works/rss\.xml$ /public/rss.php?sectionId=1001&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^statistika\-$ http://localhost/en/statistika-/ [L,R=301]
RewriteRule ^statistika\-/$ /public/section.php?%{QUERY_STRING}&sectionId=1000&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^statistika\-/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=1000&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^statistika\-/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1000&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^statistika\-/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=1000&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^statistika\-/rss\.xml$ /public/rss.php?sectionId=1000&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^tokenomika\-$ http://localhost/en/tokenomika-/ [L,R=301]
RewriteRule ^tokenomika\-/$ /public/section.php?%{QUERY_STRING}&sectionId=999&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^tokenomika\-/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=999&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^tokenomika\-/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=999&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^tokenomika\-/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=999&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^tokenomika\-/rss\.xml$ /public/rss.php?sectionId=999&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^informatsiya$ http://localhost/en/informatsiya/ [L,R=301]
RewriteRule ^informatsiya/$ /public/section.php?%{QUERY_STRING}&sectionId=998&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^informatsiya/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=998&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^informatsiya/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=998&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^informatsiya/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=998&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^informatsiya/rss\.xml$ /public/rss.php?sectionId=998&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^metaworld\-secondworld$ http://localhost/en/metaworld-secondworld/ [L,R=301]
RewriteRule ^metaworld\-secondworld/$ /public/section.php?%{QUERY_STRING}&sectionId=996&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^metaworld\-secondworld/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=996&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^metaworld\-secondworld/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=996&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^metaworld\-secondworld/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=996&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^metaworld\-secondworld/rss\.xml$ /public/rss.php?sectionId=996&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^novosti\-$ http://localhost/en/novosti-/ [L,R=301]
RewriteRule ^novosti\-/$ /public/section.php?%{QUERY_STRING}&sectionId=975&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=975&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=975&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=975&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/rss\.xml$ /public/rss.php?sectionId=975&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^novosti\-/geografiya\-raboty$ http://localhost/en/novosti-/geografiya-raboty/ [L,R=301]
RewriteRule ^novosti\-/geografiya\-raboty/$ /public/section.php?%{QUERY_STRING}&sectionId=987&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/geografiya\-raboty/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=987&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/geografiya\-raboty/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=987&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/geografiya\-raboty/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=987&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/geografiya\-raboty/rss\.xml$ /public/rss.php?sectionId=987&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^novosti\-/preimuschestva$ http://localhost/en/novosti-/preimuschestva/ [L,R=301]
RewriteRule ^novosti\-/preimuschestva/$ /public/section.php?%{QUERY_STRING}&sectionId=986&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/preimuschestva/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=986&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/preimuschestva/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=986&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/preimuschestva/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=986&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/preimuschestva/rss\.xml$ /public/rss.php?sectionId=986&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^novosti\-/vidy\-deyatelnosti$ http://localhost/en/novosti-/vidy-deyatelnosti/ [L,R=301]
RewriteRule ^novosti\-/vidy\-deyatelnosti/$ /public/section.php?%{QUERY_STRING}&sectionId=985&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/vidy\-deyatelnosti/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=985&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/vidy\-deyatelnosti/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=985&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/vidy\-deyatelnosti/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=985&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^novosti\-/vidy\-deyatelnosti/rss\.xml$ /public/rss.php?sectionId=985&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^roadmap$ http://localhost/en/roadmap/ [L,R=301]
RewriteRule ^roadmap/$ /public/section.php?%{QUERY_STRING}&sectionId=984&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^roadmap/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=984&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^roadmap/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=984&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^roadmap/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=984&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^roadmap/rss\.xml$ /public/rss.php?sectionId=984&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^faq$ http://localhost/en/faq/ [L,R=301]
RewriteRule ^faq/$ /public/section.php?%{QUERY_STRING}&sectionId=988&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=988&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=988&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=988&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/rss\.xml$ /public/rss.php?sectionId=988&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^faq/slajder$ http://localhost/en/faq/slajder/ [L,R=301]
RewriteRule ^faq/slajder/$ /public/section.php?%{QUERY_STRING}&sectionId=991&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=991&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=991&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=991&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/rss\.xml$ /public/rss.php?sectionId=991&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^faq/slajder/treugolnaya\-zagotovk$ http://localhost/en/faq/slajder/treugolnaya-zagotovk/ [L,R=301]
RewriteRule ^faq/slajder/treugolnaya\-zagotovk/$ /public/section.php?%{QUERY_STRING}&sectionId=994&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/treugolnaya\-zagotovk/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=994&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/treugolnaya\-zagotovk/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=994&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/treugolnaya\-zagotovk/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=994&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/treugolnaya\-zagotovk/rss\.xml$ /public/rss.php?sectionId=994&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^faq/slajder/kvadratnaya\-zagotovk$ http://localhost/en/faq/slajder/kvadratnaya-zagotovk/ [L,R=301]
RewriteRule ^faq/slajder/kvadratnaya\-zagotovk/$ /public/section.php?%{QUERY_STRING}&sectionId=993&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/kvadratnaya\-zagotovk/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=993&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/kvadratnaya\-zagotovk/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=993&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/kvadratnaya\-zagotovk/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=993&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/kvadratnaya\-zagotovk/rss\.xml$ /public/rss.php?sectionId=993&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka$ http://localhost/en/faq/slajder/pryamougolnaya-zagotovka/ [L,R=301]
RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka/$ /public/section.php?%{QUERY_STRING}&sectionId=992&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=992&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=992&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=992&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^faq/slajder/pryamougolnaya\-zagotovka/rss\.xml$ /public/rss.php?sectionId=992&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]

RewriteRule ^about\-us$ http://localhost/en/about-us/ [L,R=301]
RewriteRule ^about\-us/$ /public/section.php?%{QUERY_STRING}&sectionId=989&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^about\-us/page([0-9]+)\.htm$ /public/section.php?%{QUERY_STRING}&sectionId=989&page=$1&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^about\-us/([^/]+)\.(print|recommend).htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=989&action=$2&nocache=true&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^about\-us/([^/]+)\.htm$ /public/article.php?%{QUERY_STRING}&fileName=$1&sectionId=989&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]
RewriteRule ^about\-us/rss\.xml$ /public/rss.php?sectionId=989&rewrite=b8c40e4c3de56571dfdbdf6fa29d36dd&SITE_LANG=en [L]


RewriteRule ^(.+\.php)$ /$1?SITE_LANG=en [QSA]

